*{
    margin: 0;
    padding: 0;
}
.navigation{
    /* height: 74px; */
    font-family: var(--font1);
    /* background-color: red;  */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-left{
    display: flex;
}
.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 44px;
    font-size: 22px;

}
.nav-left span{
    font-size: 0px;
    padding-top: 2px;

}
.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family:var(--font1);
    color: red;
}

.nav-left ul li a{
    text-decoration: none;
    color: black;
}
.nav-left ul li a:hover{
    color: var(--main-bg-color1);
    font-weight: bolder;
}
.content{
    height: 100%;
    display: flex;
    margin-top: 32px;
    padding: 9px;
    position: relative;
}
.content::after{
    content: "";
    background-image: url(../img/we.jpg);
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.5;
    border-radius: 5px;
}
.content-left{
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    z-index: 1;
}
.content-left h1{
    padding-top: 50px;
    font-family: var(--font2);
}
.content-left h3{
    padding-bottom: 20px;
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
    height: 276px;
    width: 300px;
    border-radius: 200px;
    border: 2px solid black;
}
.home-articles{
    padding: 18px;
    /* background-color: rgb(167, 160, 160,0.02); */
    padding-top: 23px;
    position: relative;
}
.year-box{
    position: absolute;
    right: 419px;
    top: 100px;
    width: 234px;
    height: 255px;
}
.home-article{
    display: flex;
    margin: 25px;

}
.home-article-content a{
    text-decoration:none ;
    color: rgb(253, 13, 13);
}
.home-article img{
    width: 300px;
    cursor: pointer;
}
.home-article-content{
    align-items: center;
    padding: 25px;
}
.footer{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    color: red;
    flex-direction: column;
}
.hsg-footer__contact-links {
    box-sizing: content-box;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    position: relative;
    text-align: center;
}
.hsg-footer__contact-links::before, .hsg-footer__contact-links::after {
    width: 30%;
    border: 0;
}
.ul{
    list-style: none ;
}
.hsg-footer__social li {
    display: inline-block;
}
.hsg-footer__social li a span {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
